
.film-select {
  display: inline-block;
}

.flex {
  display: flex;
  flex-direction: row;
}

.inner-group {
  z-index: 1;
  position: relative;
  padding-right: 15px;
  align-items: center;
}

.search-group {
  padding: 10px;
  z-index: 2;
  background-color: white;
  min-width: 450px;
  position: relative;
  overflow: visible;
  border: 1px solid gainsboro;
  border-radius: 8px;
  width: fit-content;
}

.search-group button {
  text-wrap: nowrap;
}

.search-group-toggle {
  position: absolute;
  left: 10px;
  background-color: white;
  padding: 2px;
  cursor: pointer;
}

.search-group-toggle:hover {
  background-color: #ddd;
}

.search-group-btns {
  margin-top: 24px;
}

.search-filters-container {
}

.search-filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: white;
  padding-left: 10px;
}

.search-filter > *{
  display: block;
  width: max-content;
}
.search-filters > div {
  margin-bottom: 8px;
  position: relative;
  z-index: 1;
}

.search-rect {
  border: 2px solid gray;
  width: 100px;
  border-radius: 15px;
  left: 30px;
  /* pointer-events: none; */
  z-index: -1;
}

.gap-8 {
  gap: 8px;
}

.flex-1 {
  flex: 1;
}

.search-highlight.inner-group {
  background-color: #ffe6eb;
}


.search-highlight .search-group {
  background-color: #ffe6eb;
}

.search-highlight .inner-group {
  background-color: #ffe6eb;
}

.search-highlight .search-filters {
  background-color: #ffe6eb;
}

.search-highlight button {
  background-color: #ffe6eb !important;
}

.search-highlight .bp3-tag-input-values {
  background-color: #ffe6eb !important;
}

.search-highlight input {
  background-color: #ffe6eb;
}

.search-group .date-range input {
  width: 120px;
}


.search-popover {
    overflow: auto;
}

.inline-search-el {
  padding: 2px 0 2px 0px;
  position: relative;
  z-index: 2;
  background: white;
  margin-left: 40px;
  padding-left: 0px;
  top: -30px;
}

.inline-search-container {
   border-radius: 8px;
  box-shadow: 0 0 3px 0px #c5bfbf;
}

.inline-search-head {
  padding: 6px 10px;
}

.inline-search-div {
  /* width: fit-content; */
  /* overflow: auto; */
  max-width: 100%;
  /* width: 100%; */
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  padding: 10px 0 0;
  /* border: 1px solid gainsboro; */
  /* border-radius: 8px; */
}

.inline-search-div > .search-group{
  border: none;
}
.inline-search-result-container {
  position: relative;
}

.inline-search-result{
  display: flex;

}


.inline-search-result-nav {
  flex: 0 0 12rem;
  
}
.inline-search-result-render {
  padding-left: 26px;
  flex: 1
}
.inline-multi-select {
  max-width: 200px;
}

.clamp-3 {
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.full-text {
  white-space:initial;
}

.placeholder {
  color: #666;
}