
.film-select {
  display: inline-block;
}

.flex {
  display: flex;
  flex-direction: row;
}

.inner-group {
  z-index: 1;
  position: relative;
  padding-right: 15px;
  align-items: center;
}

.search-group {
  padding: 10px;
  z-index: 2;
  background-color:  white;
  min-width: 450px;
  position: relative;
  overflow: visible;
  border: 1px solid gainsboro;
  border-radius: 8px;
  width: fit-content;
}
.bp3-dark .search-group {
  background-color: var(--dark-bg);
}

.search-group button {
  text-wrap: nowrap;
}

.search-group-toggle {
  position: absolute;
  left: 10px;
  background-color: white;

  padding: 2px;
  cursor: pointer;
}

.bp3-dark .search-group-toggle {
  background-color: var(--dark-bg, white);
  
}

.search-group-toggle:hover {
  background-color: #ddd;
}

.search-group-btns {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-filters-container {
}

.search-filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: white;
  padding-left: 10px;
}

.bp3-dark .search-filters {
  background-color: var(--dark-bg, white);
  
}

.search-filter > *{
  display: block;
  width: max-content;
}
.search-filters > div {
  margin-bottom: 0px;
  padding: 4px;
  position: relative;
  z-index: 1;
}

.search-rect {
  border: 2px solid gray;
  width: 100px;
  border-radius: 15px;
  left: 30px;
  /* pointer-events: none; */
  z-index: -1;
}

.gap-8 {
  gap: 8px;
}

.flex-1 {
  flex: 1;
}


.bp3-dark .search-highlight .inner-group,
.bp3-dark .search-highlight .search-group ,
.bp3-dark .search-highlight .inner-group,
.bp3-dark .search-highlight .search-filters, 
.bp3-dark .search-highlight button ,
.bp3-dark .search-highlight .bp3-tag-input-values, 
.bp3-dark .search-highlight input {
  background-color: var(--dark-bg-2, #ffe6eb) !important;
}


.search-highlight .search-group {
  background-color: #ffe6eb;
}

.search-highlight .inner-group {
  background-color: #ffe6eb;
}

.search-highlight .search-filters {
  background-color: #ffe6eb;
}

.search-highlight button {
  background-color: #ffe6eb !important;
}

.search-highlight .bp3-tag-input-values {
  background-color: #ffe6eb !important;
}

.search-highlight input {
  background-color: #ffe6eb !important;
}

.search-group .date-range input {
  width: 120px;
}


.search-popover {
    overflow: auto;
}

.inline-search-el {
  padding: 2px 0 2px 0px;
  position: relative;
  z-index: 2;
  background:  white;
  margin-left: 0px;
  padding-left: 0px;
  top: 0;
  width: 100%;
  min-width: 650px;
  left: -25px;
  margin-left: 0;
}

.bp3-dark .inline-search-el {
  background: var(--dark-bg);
}

.inline-search-container {
   border-radius: 8px;
  box-shadow: 0 0 3px 0px #c5bfbf;
}

.inline-search-head {
  padding: 12px 25px;
  align-items: center;
}

.inline-search-div {
  /* width: fit-content; */
  /* overflow: auto; */
  max-width: 100%;
  /* width: 100%; */
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  padding: 10px 0 0;
  /* border: 1px solid gainsboro; */
  /* border-radius: 8px; */
}

.inline-search-div > .search-group{
  border: none;
}
.inline-search-result-container {
  position: relative;
}

.inline-search-result{
  display: flex;

}


.inline-search-result-nav {
  flex: 0 0 12rem;
  
}
.inline-search-result-render {
  padding-left: 26px;
  flex: 1
}
.inline-multi-select {
  max-width: 200px;
}

.clamp-3 {
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.full-text {
  white-space:initial;
}

.placeholder {
  color: #666;
}


.invisible-2-3-4 {

}


.invisible-2-3-4  > :nth-child(2){
  width: 0;
  min-width: 0;
}
.invisible-2-3-4 > :nth-child(4){
  width: 0;
  min-width: 0;

  
}
.invisible-2-3-4 > :nth-child(3){
  width: 0;
  min-width: 0;

  
}

.input-options .bp3-popover-wrapper{
  flex: unset;
  display: block;
}

.input-options  label {
  font-weight: normal;
}