.result-highlight {
  color: #cd4246;
  /* margin: -2px; */
  /* padding: 2px; */
}

.bp3-checkbox .bp3-button {
  pointer-events: none;
}

.sub-bg {
  line-height: 28px;
  font-size: 12px;
  height: 28px;
}

.sub-bg label {
  font-weight: normal;
}
.sub-bg .bp3-button-text {
  font-size: 12px;
}
.result-container {
  position: relative;
  flex: 1;
}

.result-item-container .bp3-icon {
  align-self: flex-start;
  padding-top: 4px;
}

.infinite-scroll::-webkit-scrollbar-thumb {
  opacity: 0;
}
.infinite-scroll::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
.infinite-scroll:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

.selected-result {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px 0;
  padding-left: 5px;
  left: 0;
  background-color: #ebf1f5;
  min-height: 450px;
  overflow: auto;
  z-index: 5;
}
.bp3-dark .selected-result {
  background-color: var(--dark-bg);
}

.infinite-scroll .check-item {
  align-items: baseline;
}

.bp3-dark .selected-result{
  background-color: var(--dark-bg-2);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.h-46 {
  height: 46px;
}

.h-200 {
  height: 100px;
}
.query-history-item {
}
.result-breadcrumbs {
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.result-breadcrumbs span {
  white-space: unset;
  align-items: center;
  display: inline-flex;
  color: #a7b6c2;
  align-items: flex-start;
  font-weight: normal;
}

.result-item-container {
  padding: 4px;
  justify-content: flex-start;
  width: 100%;
  display: flex;
  cursor: pointer;
}

.result-item-container:hover {
  background: rgba(167, 182, 194, 0.3);
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}

.result-item-content {
  overflow: auto;
}

.result-item-child {
  margin-top: 5px;
  padding: 5px;
}
.result-item-child .bp4-card,
.bp3-elevation-0 {
  box-shadow: unset;
  background-color: inherit;
}

.query-history-item:hover .bp3-icon-small-cross {
  opacity: 1;
}
.query-history-item .bp3-icon-small-cross {
  opacity: 0;
}

.advanced-search-el .bp3-dialog-container {
  align-items: flex-start;
  padding-top: 20px;
  opacity: 1;
}

.bp3-dark .advanced-search-el .bp3-control {
  color: inherit;
}

.advanced-search-el-onevent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
  background: #121417a3;
  z-index: -1;
}

.advanced-search-el dialog {
  width: fit-content;
  position: initial;
  pointer-events: all;
  border-width: 0;
  padding: 0;
}

.advanced-search-el .search-content > * {
  padding: 14px;
}

.advanced-search-el button {
  outline: none;
}

.advanced-search-el .bp3-menu-item {
  outline: none;
}

.search-block-item .bp3-breadcrumb {
  font-size: 12px;
}

.search-block-item .bp3-collapse-list.bp3-breadcrumbs {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.search-block-item .bp3-collapse-list.bp3-breadcrumbs li {
  display: inline-flex;
}

.search-block-item .bp3-collapse-list.bp3-breadcrumbs li span {
  max-width: 140px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-flex;
}

.ellipsis span {
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
}
.ellipsis-to-left {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}

.result-item-container .bp3-button-text {
  flex: 1;
}
.result-item-container .date {
  font-size: 12px;
  color: #999;
  font-weight: normal;
}

.result-item-container .date-fromnow {
  display: inline-block;
}

.result-item-container .date-common {
  display: none;
}

.result-item-container:hover .date-common {
  display: inline-block;
}

.result-item-container:hover .date-fromnow {
  display: none;
}

.visible {
  opacity: 1;
  pointer-events: unset;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.advanced-search-el.invisible * {
  opacity: 0;
  pointer-events: none;
}

.loading {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate;
  -moz-animation-duration: 1.2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  transition-property: transform;
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  color: #828282;
  display: flex;
  background-color: hsl(204, 33%, 97%);
  flex-direction: column;
}
.bp3-dark .sidebar {
  background-color: #394b59;
}
.sidebar .bp3-button-text {
  color: #828282;
}

.sidebar-title {
  margin: 10px 0;
}

.as-history {
  color: #828282;
  display: flex;
  flex-direction: column;
}

.as-history  section {
  overflow: auto;
  flex: 1;
}


.as-history .header .bp3-button-text {
  color: #828282;
}

.as-history .header {
  display: flex;
  align-items: center;
  height: 46px;
  justify-content: space-between;
  background-color: #ebf1f5;
  position: sticky;
  top: 0;
}

.bp3-dark .as-history .header {
  background-color: var(--dark-bg-2);
}

.as-history section:hover button {
  opacity: 1;
}

.as-history .header button {
  opacity: 0;
}

.as-history .bp3-button-text {
  overflow: auto;
}

.w-100p {
  width: 100%;
  display: block;
}

.sidebar .bp3-popover-target {
  width: 100%;
}
.w-100p .bp3-popover-target {
  width: 100%;
}

.no-outline {
  outline: none;
}
.hint {
  color: #828282;
  position: absolute;
  bottom: 2px;
}
.hint span {
  margin-right: 6px;
}

.advanced-search-el .bp3-dialog-footer {
  position: relative;
  min-height: 20px;
  margin: 0 5px;
}

@media only screen and (min-width: 600px) {
  .advanced-search-el {
    transition: opacity 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding-top: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 9;
  }
  .advanced-search-el .main-view {
    width: 600px;
  }

  .selected-result {
    top: 0;
  }
  .sidebar {
    width: 220px;
  }
}

@media only screen and (max-width: 600px) {
  .search-content {
    width: 100%;
  }
  .query-history-item .bp3-icon-small-cross {
    opacity: 1;
  }
  .as-history .header button {
    opacity: 1;
  }
  .advanced-search-el .bp3-dialog {
    width: 100%;
  }

  .bp3-drawer .sidebar {
    width: unset;
    padding: 10px;
  }
  .bp3-drawer .sidebar > div:first-child {
    overflow: auto;
  }
  .bp3-select-popover .bp3-menu {
    max-width: 300px;
  }
  .graph-loading {
    height: 100%;
  }
  .bp3-dialog-footer .hint {
    bottom: 10px;
  }
  .search-content {
    height: 100%;
  }
  .search-content .main-view {
    height: 100%;
    padding: 5px 14px;
  }
}

.graph-loading {
  position: relative;
}
.graph-loading .loading-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: white;
}

.bp3-dark .graph-loading .loading-view {
  background-color: #30404d;
}

.advanced-search-el-portal {
  z-index: 9999;
}

.titlebar-container {
  line-height: 22px;
  display: flex;
  max-height: 27px;
}

.window-controls-container {
  width: 70px;
  display: flex;
  text-align: center;
  height: 100%;
}

.window-control {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 5px 5px;
}

.window-control .bp3-icon {
  opacity: 1;
}

.window-control:hover .bp3-icon {
  opacity: 1;
}

.bp3-dark .advanced-search-el-max {
  background-color: var(--dark-bg, white);
}
.advanced-search-el-max {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  background-color: white;
}

.roam-body-main {
  position: relative;
}

.advanced-search-el-max.visible {
  opacity: 1;
  pointer-events: all;
  z-index: 10;
}
.advanced-search-el-max .advanced-search-el{
  padding-top: 0px;
  height: fit-content;
}
.advanced-search-el-max .infinite-scroll {
  -webkit-touch-callout: none;
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;
}

.graph-loading {
  box-shadow: 0px 6px 20px rgba(25, 25, 26, 0.06),
    0px 2px 12px rgba(25, 25, 26, 0.04);
}

.advanced-search-el .check-item .result-item-content {
  font-weight: normal;
}
.selected-result .check-item {
  align-items: baseline;
}

.advanced-search-el .s-tab .del {
  opacity: 0;
}

.advanced-search-el .s-tab:hover .del {
  opacity: 1;
}

.titlebar-container {
  max-width: 820px;
}
.titlebar-container .bp3-heading {
  overflow: auto;
  text-overflow: unset;
}

.titlebar-container *::-webkit-scrollbar-thumb {
  opacity: 0;
}
.titlebar-container *::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
.titlebar-container:hover *::-webkit-scrollbar-thumb {
  opacity: 1;
}

.advanced-search-el .primary {
  color: var(--primary-color);
}
.advanced-search-el .danger {
  color: var(--danger-color, #c23030);
}

.page-select {
  min-width: 500px;
  max-width: 500px;
  max-height: 450px;
  overflow: scroll;
  background-color: white;
}


.bp3-dark .page-select{
  background-color: var(--dark-bg);
}

.page-select .bp3-input-group {
  padding: 8px;
}
